# Note: Make sure you have a Hive warehouse that is set up so these fields are easy to complete.

### Test Environment field definitions
# These will all be gathered from hive warehouse or created by you.

# DBT_HIVE_HOST: Hive host.
# DBT_HIVE_PORT: Hive port.
# DBT_HIVE_SCHEMA: Name of the schema to use for testing.
# DBT_HIVE_USER: Username of database user.
# DBT_HIVE_PASSWORD: Password used for your database user.
# DBT_HIVE_HTTP_PATH: HTTP path configure for warehouse.

# Copy the following to a test.env, and replace example values with your information.
DBT_HIVE_HOST=
DBT_HIVE_PORT=443
DBT_HIVE_SCHEMA=
DBT_HIVE_USER=
DBT_HIVE_PASSWORD=
DBT_HIVE_HTTP_PATH=
